.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  background-color: rgb(242, 239, 235);
  padding: 10px;
}

nav a.active{
  text-decoration: none;
  font-weight: bold;
}

